HTML,BODY 
{
	background-color: transparent;
	font-size: 13px;
	font-family: Verdana;
	color: #000;
	/*padding-right: 30px;*/
	background: inherit;
    font-weight: 600;
}
iframe
{
	background-color: transparent;
}
img { behavior: url(css/iepngfix.htc); }
a
{
    outline: 0;    
}
a:link
{
	text-decoration:none;
	color: #CC0000;  
}
a:visited
{
	text-decoration:none;
	color: #CC0000;
}
a:active
{
	text-decoration:none;
	color: #CC0000;
}
a:hover
{
	text-decoration:underline;
	color: #CC0000;
}
a.login:link
{
    text-decoration:none;
    color: #0080FF;
    font-weight: 900;
}
a.login:visited
{
    text-decoration:none;
    font-weight: 900;
    color: #0080FF;
}
a.login:active
{
    text-decoration:none;
    font-weight: 900;
    color: #0080FF;
}
a.login:hover
{
    text-decoration:none;
    font-weight: 900; 
    color: #0080FF;
}
table
{
	 text-align: justify;
}
td
{
	font-size: 13px;
	font-weight: 600;
}
th
{
    /*background-color: #E6F9FF;*/
    background-image: url(../images/th.png);
    background-repeat: repeat;
    font-size: 14px;
    text-align: center;
    border-bottom: 2px solid #367766;
}

.titlu_pag
{
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;	
}
.titlu
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	font-size: 17px;
	color: #FF0000;
	font-weight: bold;
}
.titlu_mic
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	font-size: 15px;
	color: #000;
	font-weight: bold;
    vertical-align: middle;
}
.titlu_cap
{
    padding: 10px;
    font-size: 13px;
    color: #0080FF;
    font-weight: bold;
    text-decoration: underline;
}
.
.head_left
{
	background-color: transparent;        
	background-image: url(../images/bg_header_galben.png);
	background-repeat: repeat-x;
}
fieldset { 
	font-family: Verdana;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
	border: 1px solid #ccc;
	color: #000;
	text-align: right;
	padding: 5px;
	margin: 5px;
}

legend {
	font-family: Verdana;
	padding: 0.2em 0.5em;
	/*border:1px solid #ccc;*/
	color: #0080FF;
	font-size:12px;
	text-align:right;
	margin-left: 10px;
	vertical-align: middle;
}
input
{
	outline: 0;
}
button
{
	outline: 0;
}

.input
{
	font-family: Verdana;
	font-size:12px;
	font-weight: bold;
	background-color: #f7fffb;
	border: 1px solid #367766;
	color: #367766;
    margin: 2px;
    m: expression(this.onfocus =  new Function("this.className = 'input-focus';"));
}
.input:focus
{
    font-family: Verdana;
    font-size:12px;
    font-weight: bold;
    background-color: #FFF;
    border: solid 1px #85b1de;
    color: #000;
    margin: 2px;
}
.input-focus
{
    font-family: Verdana;
    font-size:12px;
    font-weight: bold;
    background-color: #FFF;
    border: solid 1px #85b1de;
    color: #000;
    margin: 2px;
    m: expression(this.onblur = new Function("this.className = 'input';"));
}
.submit
{
	border:1px solid #f7fffb;
	font-family: Verdana;
	font-size:12px;
	font-weight: bold;
	background-color: #367766;
	color: #FFFFFF;
	m: expression(this.onmouseover =  new Function("this.className = 'submit-hover';"));
}
.submit:hover
{
	border:1px solid #CC0000;
	font-family: Verdana;
	font-size:12px;
	font-weight: bold;
	background-color: #f7fffb;
	color: #000000;
    cursor: pointer;
}
.submit-hover
{
	border:1px solid #CC0000;
	font-family: Verdana;
	font-size:12px;
	font-weight: bold;
	background-color: #f7fffb;
	color: #000000;
    cursor: pointer;
    m: expression(this.onmouseout = new Function("this.className = 'submit';"));
}
.footer
{
	font-size: 12px;
	text-decoration: none;
	font-family: Verdana;
	font-weight:normal;
	color: #000;
    text-align: justify;
}
.sectiune_formular
{
	text-decoration: underline;
	font-style: italic;
    color: #0080FF;
}
.eroare_text
{
	font-family: Verdana;
	font-size:12px;
	font-weight: 600;
	color: #CC0000;	
}
.adr
{
	font-weight: 600;
	color: #237edb;
}
a.meniu_sus:link
{
	font-family: Verdana;
	font-size:14px;
	font-weight: bold;
	color: #000000;
	padding-left:10px;
	text-decoration: none;
    vertical-align: middle;
}
a.meniu_sus:hover
{
	font-family: Verdana;
	font-size:14px;
	font-weight: bold;
	color: #000000;
    cursor: pointer;
    text-decoration: none;
    padding-left: 10px;
    vertical-align: middle;
}
a.meniu_sus:visited
{
	font-family: Verdana;
	font-size:14px;
	font-weight: bold;
	color: #000000;
	padding-left:10px;
	text-decoration: none;
    vertical-align: middle;
}
a.meniu_sus:active
{
	font-family: Verdana;
	font-size:14px;
	font-weight: bold;
	color: #000000;
	padding-left:10px;
	text-decoration: none;
    vertical-align: middle;
}
.header_menu{
	white-space:nowrap;
	background-image: url(../images/bg_meniu_sus_verde.png);
	background-repeat: repeat-x;
	text-align: center;
	height: 30px;
    vertical-align: middle;
}
.meniu_mic {
	text-align: center;
	height: 30px; 
}
.meniu_mic_hover { 
	background-image: url(../images/bg_meniu_over.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	height: 30px;
}
.edit
{
    border:0;
    font-family: Verdana;
    font-size:12px;
    font-weight: bold;
    background-color: transparent;
    color: #367766;
    border: 0;
    width:500px;
}
.edit_over
{
    border:0;
    font-family: Verdana;
    font-size:12px;
    font-weight: bold;
    background-color: transparent;
    color: #900;
    width:500px;
}
.odd
{
    /*background-color: #FFFFC0;*/
    background-image: url(../images/odd.png);
}
.even
{
    /*background-color: #C4FDBD;*/
    background-image: url(../images/even.png);
}
.atentionare
{
	background-image: url(../images/bg_rosu.png);
	background-repeat: repeat;
	font-size: 14px;
	font-style: oblique;
	text-align: center ;
	font-weight: bold;	
}
.detalii
{
	background-image: url(../images/bg_albastru.png);
	background-repeat: repeat;
	font-size: 13px;
	text-align: left;
	font-weight: bold;
	position: absolute;
	top: 30;
	left: 80;
	color: #FFF;
}
.detalii table tr td
{
	border-bottom: 1px solid #FFF;
}